<!-------------------------------------------------------------------->
<!-- Paul Chyz, Chloe Stevens, Rachel Cheung, and Michael Frentress -->
<!-------------------------------------------------------------------->

<html>  
  <head>
    <title>Booper</title>
  </head>

  <style>
    body{
       text-align: center;
    }
    h1{
       font-family: 'Lucida Console', Monaco;
       font-weight: normal;
       color: #2657a5;
       font-size: 1.8em;
    }
    h2{
      font-family: 'Lucida Console', Monaco;
      font-weight: normal;
      color: #2657a5;
      font-size: 1.2em;
    }
    h3{
      font-family: 'Lucida Console', Monaco;
      font-weight: normal;
      color: #2657a5;
      font-size: 1em;
    }
    </style>

  <body>
    <h1> Your dog is now a web app. </h1>
    <input type="image" src="{{photo}}" height="600" width="auto" onClick="window.location.reload()">
    <h2> Boop the dog for more dogs. </h2>
    <h3> {{count}} </h3>
  </body>

</html>